In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Cleaning Building Violations Dataframe

In [ ]:
building_df = pd.read_csv("building_violations.csv")

# Removing any duplicate rows
building_df = building_df.drop_duplicates()

# Initial analysis of the columns data types
print(f"After cleaning, the dataset has (rows, columns): {building_df.shape}\n")
print(f"The number of null values in each column is:\n{building_df.isnull().sum()}\n")

After cleaning, the dataset has (rows, columns): (15963, 24)

The number of null values in each column is:
case_no                 0
ap_case_defn_key        0
status_dttm             2
status                  0
code                    0
value               15963
description           244
violation_stno          0
violation_sthigh    11253
violation_street        0
violation_suffix      114
violation_city          3
violation_state         0
violation_zip           3
ward                    0
contact_addr1           5
contact_addr2       13053
contact_city            2
contact_state           2
contact_zip            13
sam_id                 88
latitude               90
longitude              90
location               90
dtype: int64

In [ ]:
# Dropping columns, renaming columns, and dropping rows with missing dates
columns_to_drop = ['value', 'contact_addr2', 'ap_case_defn_key', 'violation_sthigh']
building_df.drop(columns=columns_to_drop, axis=1, inplace=True)
building_df.rename(columns={'status_dttm': 'date'}, inplace=True)
building_df.dropna(subset=['date'], inplace=True)

# Converting to the correct data types and adding a 'year' column
building_df['date'] = pd.to_datetime(building_df['date'])
building_df['sam_id'] = building_df['sam_id'].astype(str).str.split('.').str[0]
building_df['year'] = building_df['date'].dt.year

# Counting and printing the number of records per year before filtering
year_counts = building_df['year'].value_counts().sort_index()
print("Number of records per year before 2019:")
print(year_counts[year_counts.index < 2019])

# Filtering rows based on the condition
building_df = building_df[(building_df['year'] >= 2019) & (building_df['year'] <= 2024)]
building_df.reset_index(drop=True, inplace=True)

building_df.to_csv("filtered_building_df.csv", index=False)
print(f"After cleaning, the dataset has (rows, columns): {building_df.shape}\n")
print(building_df.info(), '\n')
building_df.head()

Number of records per year before 2019:
2009      10
2010    1458
2011    1188
2012    1505
2013    1476
2014    1508
2015    1686
2016     961
2017     954
2018     784
Name: year, dtype: int64
After cleaning, the dataset has (rows, columns): (4431, 21)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4431 entries, 0 to 4430
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   case_no           4431 non-null   object
 1   date              4431 non-null   datetime64[ns]
 2   status            4431 non-null   object
 3   code              4431 non-null   object
 4   description       4417 non-null   object
 5   violation_stno    4431 non-null   object
 6   violation_street  4431 non-null   object
 7   violation_suffix  4390 non-null   object
 8   violation_city    4431 non-null   object
 9   violation_state   4431 non-null   object
 10  violation_zip     4431 non-null   object
 11  ward              4431 non-null   object
 12  contact_addr1     4430 non-null   object
 13  contact_city      4430 non-null   object
 14  contact_state     4430 non-null   object
 15  contact_zip       4430 non-null   object
 16  sam_id            4431 non-null   object
 17  latitude          4422 non-null   float64
 18  longitude         4422 non-null   float64
 19  location          4422 non-null   object
 20  year              4431 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(17)
memory usage: 727.1+ KB
None

,case_no,date,status,code,description,violation_stno,violation_street,violation_suffix,violation_city,violation_state,...,ward,contact_addr1,contact_city,contact_state,contact_zip,sam_id,latitude,longitude,location,year
0,V738744,2024-06-03 15:04:36,Open,105.1,Failure to Obtain Permit,45,Stanbro,ST,Hyde Park,MA,...,18,45 STANBRO ST,HYDE PARK,MA,02136,130097,42.234600,-71.130061,"(42.23459970816364, -71.13006086425501)",2024
1,V701929,2024-06-03 15:03:27,Open,102.8,Maintenance,653,Broadway,NaN,South Boston,MA,...,06,653 EAST BROADWAY,SOUTH BOSTON,MA,02127,21101,42.335399,-71.038490,"(42.33539949515196, -71.03849045360927)",2024
2,V762114,2024-06-03 12:46:03,Open,102.8,Maintenance,14,Mount Calvary,RD,Roslindale,MA,...,18,14 MT CALVARY RD,ROSLINDALE,MA,02131,98107,42.280870,-71.113141,"(42.28086960327414, -71.11314074383499)",2024
3,V761190,2024-05-31 10:33:20,Open,1001.3.2,Testing & Certification,28,Saratoga,ST,East Boston,MA,...,01,C/O GIOVANNI DICOSTANZO,REVERE,MA,02151,122589,42.376139,-71.038140,"(42.376139492793925, -71.03814036200927)",2024
4,V761184,2024-05-31 10:22:41,Open,102.8,Maintenance,57,Chelsea,ST,East Boston,MA,...,01,C/O RONIE BICALHO,E BOSTON,MA,02128,30585,42.371309,-71.036870,"(42.37130949177606, -71.03687036989467)",2024

## Cleaning Public Works Violation Dataframe

In [ ]:
public_works_df = pd.read_csv("publicworks_df.csv")

# Removing any duplicate rows
public_works_df.drop_duplicates(inplace=True)

# Initial analysis of the columns data types
print(f"Prior to cleaning, the dataset has (rows, columns): {public_works_df.shape}\n")
print(f"The number of null values in each column is:\n{public_works_df.isnull().sum()}\n")

C:\Users\julis\AppData\Local\Temp\ipykernel_24536\2163622689.py:4: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  public_works_df = pd.read_csv("publicworks_df.csv")

Prior to cleaning, the dataset has (rows, columns): (749294, 23)

The number of null values in each column is:
case_no                  0
ticket_no              184
status_dttm              0
status                   0
code                     0
value                    0
description              0
violation_stno           0
violation_sthigh    559574
violation_street         0
violation_suffix      4363
violation_city          13
violation_state          0
violation_zip          142
ward                     0
contact_addr1          779
contact_addr2       471213
contact_city           412
contact_state          898
contact_zip           1176
sam_id                   0
latitude                61
longitude               61
dtype: int64

In [ ]:
# Dropping columns, renaming columns, and dropping rows with missing dates
columns_to_drop = ['value', 'contact_addr2', 'violation_sthigh']
public_works_df.drop(columns=columns_to_drop, axis=1, inplace=True)
public_works_df.rename(columns={'status_dttm': 'date'}, inplace=True)
public_works_df.dropna(subset=['date'], inplace=True)

# Converting to the correct data types and adding a 'year' column
public_works_df['date'] = pd.to_datetime(public_works_df['date'])
public_works_df['sam_id'] = public_works_df['sam_id'].astype(str).str.split('.').str[0]
public_works_df['year'] = public_works_df['date'].dt.year

# Filtering rows based on the condition
public_works_df = public_works_df[(public_works_df['year'] >= 2019) & (public_works_df['year'] <= 2024)]
public_works_df.reset_index(drop=True, inplace=True)

public_works_df.to_csv("filtered_public_works_df.csv", index=False)
print(f"After cleaning, the dataset has (rows, columns): {public_works_df.shape}\n")
print(public_works_df.info(), '\n')

After cleaning, the dataset has (rows, columns): (295331, 21)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295331 entries, 0 to 295330
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   case_no           295331 non-null  object
 1   ticket_no         295331 non-null  object
 2   date              295331 non-null  datetime64[ns]
 3   status            295331 non-null  object
 4   code              295331 non-null  object
 5   description       295331 non-null  object
 6   violation_stno    295331 non-null  object
 7   violation_street  295331 non-null  object
 8   violation_suffix  293356 non-null  object
 9   violation_city    295318 non-null  object
 10  violation_state   295331 non-null  object
 11  violation_zip     295292 non-null  object
 12  ward              295331 non-null  int64
 13  contact_addr1     294991 non-null  object
 14  contact_city      295154 non-null  object
 15  contact_state     294699 non-null  object
 16  contact_zip       294653 non-null  object
 17  sam_id            295331 non-null  object
 18  latitude          295311 non-null  float64
 19  longitude         295311 non-null  float64
 20  year              295331 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(16)
memory usage: 47.3+ MB
None

## Cleaning SAM Dataframe

In [ ]:
SAM_df = pd.read_csv("SAM_df.csv")

# Removing any duplicate rows
SAM_df = SAM_df.drop_duplicates()

# Initial analysis of the columns data types
print(f"After cleaning, the dataset has (rows, columns): {SAM_df.shape}\n")
print(f"The number of null values in each column is:\n{SAM_df.isnull().sum()}\n")

C:\Users\julis\AppData\Local\Temp\ipykernel_24536\683963686.py:2: DtypeWarning: Columns (8,9,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  SAM_df = pd.read_csv("SAM_df.csv")

After cleaning, the dataset has (rows, columns): (400244, 27)

The number of null values in each column is:
X                            0
Y                            0
SAM_ADDRESS_ID               0
RELATIONSHIP_TYPE            0
BUILDING_ID                  0
FULL_ADDRESS                 0
STREET_NUMBER                0
IS_RANGE                     0
RANGE_FROM              374085
RANGE_TO                374085
UNIT                    131620
FULL_STREET_NAME             0
STREET_ID                    0
STREET_PREFIX                0
STREET_BODY                  0
STREET_SUFFIX_ABBR        4127
STREET_FULL_SUFFIX        4127
STREET_SUFFIX_DIR            0
STREET_NUMBER_SORT           0
MAILING_NEIGHBORHOOD        30
ZIP_CODE                    17
X_COORD                      0
Y_COORD                      0
SAM_STREET_ID                0
WARD                         0
PRECINCT_WARD             4564
PARCEL                       6
dtype: int64

In [ ]:
# Dropping columns from the dataset that are empty, have many missing values,
# or are not very important at the time for current analysis
columns_to_drop = ['IS_RANGE', 'RANGE_FROM', 'RANGE_TO', 'UNIT', 'STREET_PREFIX', 'STREET_SUFFIX_DIR']
SAM_df.drop(columns=columns_to_drop, axis=1, inplace=True)

# Converting 'sam_id' to string type since it represents an ID and should not be an integer
SAM_df['SAM_ADDRESS_ID'] = SAM_df['SAM_ADDRESS_ID'].astype(str)

SAM_df.to_csv("filtered_SAM.csv", index=False)
print(f"After cleaning, the dataset has (rows, columns): {SAM_df.shape}\n")
print(SAM_df.info(), '\n')

After cleaning, the dataset has (rows, columns): (400244, 21)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400244 entries, 0 to 400243
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   X                     400244 non-null  float64
 1   Y                     400244 non-null  float64
 2   SAM_ADDRESS_ID        400244 non-null  object
 3   RELATIONSHIP_TYPE     400244 non-null  int64
 4   BUILDING_ID           400244 non-null  int64
 5   FULL_ADDRESS          400244 non-null  object
 6   STREET_NUMBER         400244 non-null  object
 7   FULL_STREET_NAME      400244 non-null  object
 8   STREET_ID             400244 non-null  int64
 9   STREET_BODY           400244 non-null  object
 10  STREET_SUFFIX_ABBR    396117 non-null  object
 11  STREET_FULL_SUFFIX    396117 non-null  object
 12  STREET_NUMBER_SORT    400244 non-null  float64
 13  MAILING_NEIGHBORHOOD  400214 non-null  object
 14  ZIP_CODE              400227 non-null  float64
 15  X_COORD               400244 non-null  float64
 16  Y_COORD               400244 non-null  float64
 17  SAM_STREET_ID         400244 non-null  int64
 18  WARD                  400244 non-null  object
 19  PRECINCT_WARD         395680 non-null  object
 20  PARCEL                400238 non-null  object
dtypes: float64(6), int64(4), object(11)
memory usage: 67.2+ MB
None

## Cleaning Property Dataframe

In [ ]:
pa_2019 = pd.read_csv('pa_2019.csv')
pa_2020 = pd.read_csv('pa_2020.csv')

# Function to merge columns
def merge_columns(df, r_col, u_col, new_col):
    df[new_col] = df[r_col].combine_first(df[u_col])
    return df.drop(columns=[r_col, u_col])

# List of columns to merge
columns_to_merge = [
    ('R_BED_RMS', 'U_BED_RMS', 'BED_RMS'),
    ('R_TT_RMS', 'U_TT_RMS', 'TT_RMS'),
    ('R_BTHRM_STYLE1', 'U_BTHRM_STYLE1', 'BTHRM_STYLE1'),
    ('R_HEAT_TYPE', 'U_HEAT_TYPE', 'HEAT_TYPE'),
    ('R_AC_TYPE', 'U_AC_TYPE', 'AC_TYPE')
]

for r_col, u_col, new_col in columns_to_merge:
    pa_2019 = merge_columns(pa_2019, r_col, u_col, new_col)
    pa_2020 = merge_columns(pa_2020, r_col, u_col, new_col)

# Save the updated dataframes to new CSV files
pa_2019.to_csv('pa_2019_updated.csv', index=False)
pa_2020.to_csv('pa_2020_updated.csv', index=False)

C:\Users\julis\AppData\Local\Temp\ipykernel_12236\4024006309.py:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  pa_2019 = pd.read_csv('pa_2019.csv')

In [ ]:
import os

# Define the columns to keep
columns_to_keep = [
    'PID', 'OWNER', 'LAND_SF', 'GROSS_AREA', 'LIVING_AREA',
    'LAND_VALUE', 'BLDG_VALUE', 'TOTAL_VALUE', 'YR_BUILT',
    'YR_REMODEL', 'STRUCTURE_CLASS', 'OVERALL_COND',
    'BED_RMS', 'TT_RMS', 'BTHRM_STYLE1', 'HEAT_TYPE',
    'AC_TYPE', 'NUM_PARKING'
]

dfs = []

# Loop through files pa_19 to pa_24
for i in range(19, 25):
    filename = f"pa_{i}.csv"
    if os.path.exists(filename):
        # Read the CSV file
        df = pd.read_csv(filename)

        # Filter columns
        df = df[columns_to_keep]

        # Append dataframe to the list
        dfs.append(df)
    else:
        print(f"File {filename} not found.")

# Concatenate all dataframes into one
merged_df = pd.concat(dfs, ignore_index=True)

# Save merged dataframe
merged_filename = "pa_19_24.csv"
merged_df.to_csv(merged_filename, index=False)
print(f"All files merged and saved as {merged_filename}")

C:\Users\julis\AppData\Local\Temp\ipykernel_12236\329695916.py:19: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

All files merged and saved as pa_19_24.csv

In [ ]:
columns_to_clean = ['LAND_VALUE', 'BLDG_VALUE', 'TOTAL_VALUE', 'BED_RMS']

# Remove any extra characters, fill NA values, and convert to integers
for column in columns_to_clean:
    pa_19_24[column] = pa_19_24[column].replace({'\$': '', ',': ''}, regex=True).fillna(0).astype(float).astype(int)

# Convert year columns to integers, fill NA values
year_columns = ['YR_BUILT', 'YR_REMODEL']
pa_19_24[year_columns] = pa_19_24[year_columns].fillna(0).astype(int)

pa_19_24.to_csv('pa_19_24.csv', index=False)
print(pa_19_24.info(), '\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068278 entries, 0 to 1068277
Data columns (total 18 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   PID              1068278 non-null  int64
 1   OWNER            1068208 non-null  object
 2   LAND_SF          892210 non-null   object
 3   GROSS_AREA       925547 non-null   float64
 4   LIVING_AREA      924954 non-null   float64
 5   LAND_VALUE       1068278 non-null  int32
 6   BLDG_VALUE       1068278 non-null  int32
 7   TOTAL_VALUE      1068278 non-null  int32
 8   YR_BUILT         1068278 non-null  int32
 9   YR_REMODEL       1068278 non-null  int32
 10  STRUCTURE_CLASS  276572 non-null   object
 11  OVERALL_COND     805051 non-null   object
 12  BED_RMS          1068278 non-null  int32
 13  TT_RMS           827063 non-null   object
 14  BTHRM_STYLE1     779641 non-null   object
 15  HEAT_TYPE        780614 non-null   object
 16  AC_TYPE          780564 non-null   object
 17  NUM_PARKING      646863 non-null   float64
dtypes: float64(3), int32(6), int64(1), object(8)
memory usage: 122.3+ MB
None

In [ ]:
pa_19_24 = pd.read_csv('pa_19_24.csv')
print(f"After cleaning, the dataset has (rows, columns): {pa_19_24.shape}\n")
print(pa_19_24.info(), '\n')

C:\Users\julis\AppData\Local\Temp\ipykernel_12236\1468589942.py:1: DtypeWarning: Columns (2,10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  pa_19_24 = pd.read_csv('pa_19_24.csv')

After cleaning, the dataset has (rows, columns): (1068278, 18)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068278 entries, 0 to 1068277
Data columns (total 18 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   PID              1068278 non-null  int64
 1   OWNER            1068208 non-null  object
 2   LAND_SF          892210 non-null   object
 3   GROSS_AREA       925547 non-null   float64
 4   LIVING_AREA      924954 non-null   float64
 5   LAND_VALUE       1068278 non-null  int64
 6   BLDG_VALUE       1068278 non-null  int64
 7   TOTAL_VALUE      1068278 non-null  int64
 8   YR_BUILT         1068278 non-null  int64
 9   YR_REMODEL       1068278 non-null  int64
 10  STRUCTURE_CLASS  276572 non-null   object
 11  OVERALL_COND     805051 non-null   object
 12  BED_RMS          1068278 non-null  int64
 13  TT_RMS           827063 non-null   object
 14  BTHRM_STYLE1     779641 non-null   object
 15  HEAT_TYPE        780614 non-null   object
 16  AC_TYPE          780564 non-null   object
 17  NUM_PARKING      646863 non-null   float64
dtypes: float64(3), int64(7), object(8)
memory usage: 146.7+ MB
None

In [ ]:
# List of columns to clean
columns_to_clean = ['STRUCTURE_CLASS', 'OVERALL_COND', 'BTHRM_STYLE1', 'HEAT_TYPE', 'AC_TYPE']

# Clean each column by extracting the first letter
for column in columns_to_clean:
    pa_19_24[column] = pa_19_24[column].str[0]

# Display unique values for each cleaned column
for column in columns_to_clean:
    unique_values = pa_19_24[column].unique()
    print(f"Unique values for {column}: {unique_values}\n")

pa_19_24.to_csv('pa_19_24.csv', index=False)

Unique values for STRUCTURE_CLASS: [nan 'C' 'R' 'D' 'B' 'A' 'E' '1' '0']

Unique values for OVERALL_COND: [nan 'G' 'A' 'P' 'F' 'E' 'V' 'U']

Unique values for BTHRM_STYLE1: ['M' 'S' 'N' 'L' nan]

Unique values for HEAT_TYPE: ['W' nan 'F' 'S' 'E' 'N' 'P' 'O']

Unique values for AC_TYPE: ['N' 'C' nan 'D' 'Y']

## Merge Datasets

the column â€˜sam_idâ€™ in the building violations dataset = â€˜sam_address_idâ€™ in the Live Street Address Management (SAM) Addresses dataset. Also in this same SAM address dataset, the â€˜parcelâ€™ column = â€˜PIDâ€™ column from the property assessment dataset. This property assessment dataset is the one that contains info abt building ownership. This mapping can be applied to the Public Works Violations dataset as well.

In [ ]:
# Importing the datasets
building_df = pd.read_csv("building_df.csv")
SAM_df = pd.read_csv("SAM_df.csv")
public_works_df = pd.read_csv("public_works_df.csv")
pa_19_24 = pd.read_csv("pa_19_24.csv")

# Concatenate public_works_df to the bottom of building_df
combined_df = pd.concat([building_df, public_works_df], ignore_index=True)

# Merge combined_df with SAM_df
combined_merged_df = pd.merge(combined_df, SAM_df, left_on='sam_id', right_on='SAM_ADDRESS_ID', how='inner')

# Merge the result with pa_19_24
final_combined_merged_df = pd.merge(combined_merged_df, pa_19_24, left_on='PARCEL', right_on='PID', how='inner')

# Save the final merged DataFrame to a CSV file
final_combined_merged_df.to_csv('final_combined_merged_data.csv', index=False)

C:\Users\julis\AppData\Local\Temp\ipykernel_24536\4262809432.py:3: DtypeWarning: Columns (18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  SAM_df = pd.read_csv("SAM_df.csv")
C:\Users\julis\AppData\Local\Temp\ipykernel_24536\4262809432.py:4: DtypeWarning: Columns (11,16) have mixed types. Specify dtype option on import or set low_memory=False.
  public_works_df = pd.read_csv("public_works_df.csv")
C:\Users\julis\AppData\Local\Temp\ipykernel_24536\4262809432.py:5: DtypeWarning: Columns (2,10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  pa_19_24 = pd.read_csv("pa_19_24.csv")

In [ ]:
final_merged_data = pd.read_csv('final_combined_merged_data.csv')

# Removing any duplicate rows
final_merged_data = final_merged_data.drop_duplicates(subset=['case_no'])

# Save the modified DataFrame back to a CSV file if needed
final_merged_data.to_csv('final_merged_data.csv', index=False)
final_merged_data.head()

C:\Users\julis\AppData\Local\Temp\ipykernel_24536\2693833574.py:1: DtypeWarning: Columns (5,15,19,41) have mixed types. Specify dtype option on import or set low_memory=False.
  final_merged_data = pd.read_csv('final_combined_merged_data.csv')

,case_no,date,status,code,description,violation_stno,violation_street,violation_suffix,violation_city,violation_state,...,YR_BUILT,YR_REMODEL,STRUCTURE_CLASS,OVERALL_COND,BED_RMS,TT_RMS,BTHRM_STYLE1,HEAT_TYPE,AC_TYPE,NUM_PARKING
0,V738744,2024-06-03 15:04:36,Open,105.1,Failure to Obtain Permit,45,Stanbro,ST,Hyde Park,MA,...,1950,0,R,A,3,7.0,S,W,C,NaN
6,CE544849,2021-02-17 08:40:00,Open,17a,Failure clear sidewalk - snow,45,Stanbro,ST,Hyde Park,MA,...,1950,0,R,A,3,7.0,S,W,C,NaN
12,CE545095,2021-02-15 09:56:00,Closed,7,Failure clean sidewalk com,45,Stanbro,ST,Hyde Park,MA,...,1950,0,R,A,3,7.0,S,W,C,NaN
18,CE542798,2021-02-08 23:38:00,Open,17a,Failure clear sidewalk - snow,45,Stanbro,ST,Hyde Park,MA,...,1950,0,R,A,3,7.0,S,W,C,NaN
24,CE444100,2019-04-29 10:38:00,Closed,1,Improper storage trash: res,45,Stanbro,ST,Hyde Park,MA,...,1950,0,R,A,3,7.0,S,W,C,NaN

## Clean 311 File

In [ ]:
import os

dfs = []

# Loop through files 311_19 to 311_24
for i in range(19, 25):
    filename = f"311_{i}.csv"
    if os.path.exists(filename):
        # Read the CSV file
        df = pd.read_csv(filename)

        # Append dataframe to the list
        dfs.append(df)

# Concatenate all DataFrames
merged_df = pd.concat(dfs, ignore_index=True)
merged_df.to_csv("merged_311.csv", index=False)

C:\Users\julis\AppData\Local\Temp\ipykernel_18964\3896860918.py:11: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)
C:\Users\julis\AppData\Local\Temp\ipykernel_18964\3896860918.py:11: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)
C:\Users\julis\AppData\Local\Temp\ipykernel_18964\3896860918.py:11: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)
C:\Users\julis\AppData\Local\Temp\ipykernel_18964\3896860918.py:11: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)
C:\Users\julis\AppData\Local\Temp\ipykernel_18964\3896860918.py:11: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

In [ ]:
merged_311 = pd.read_csv('merged_311.csv')

#Drop unnessary columns
merged_311.drop(columns=['closure_reason', 'queue', 'submitted_photo', 'closed_photo'], inplace=True)

# Convert specified columns to int64, replacing NaN and '' with NaN
merged_311[['fire_district', 'city_council_district', 'precinct', 'neighborhood_services_district']] = merged_311[['fire_district', 'city_council_district', 'precinct', 'neighborhood_services_district']].apply(pd.to_numeric, errors='coerce')

# Clean 'ward' column, removing 'Ward' and leading 0, converting to int64
merged_311['ward'] = merged_311['ward'].str.replace('Ward', '').str.replace('^0+', '0')
merged_311['ward'] = pd.to_numeric(merged_311['ward'], errors='coerce').astype('Int64')

# Change datatime format
merged_311[['open_dt', 'sla_target_dt', 'closed_dt']] = merged_311[['open_dt', 'sla_target_dt', 'closed_dt']].apply(pd.to_datetime)

C:\Users\julis\AppData\Local\Temp\ipykernel_18964\363208558.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_311 = pd.read_csv('merged_311.csv')
C:\Users\julis\AppData\Local\Temp\ipykernel_18964\363208558.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  merged_311['ward'] = merged_311['ward'].str.replace('Ward', '').str.replace('^0+', '0')

In [ ]:
# Convert specified columns to int64, replacing NaN and '' with NaN
merged_311[['fire_district', 'city_council_district', 'precinct', 'neighborhood_services_district', 'location_zipcode']] = merged_311[['fire_district', 'city_council_district', 'precinct', 'neighborhood_services_district', 'location_zipcode']].apply(pd.to_numeric, errors='coerce')

# Convert NaN values to integer NaN (Int64)
int_cols = ['fire_district', 'city_council_district', 'precinct', 'neighborhood_services_district', 'location_zipcode']
merged_311[int_cols] = merged_311[int_cols].astype('Int64')

In [ ]:
merged_311.head()

,case_enquiry_id,open_dt,sla_target_dt,closed_dt,on_time,case_status,case_title,subject,reason,type,...,neighborhood,neighborhood_services_district,ward,precinct,location_street_name,location_zipcode,latitude,longitude,geom_4326,source
0,101002767874,2019-01-01 00:03:00,2019-01-03 03:30:00,2019-01-01 02:59:43,ONTIME,Closed,PRINTED : Knocked down/Eric Huynh,Public Works Department,Street Lights,Street Light Knock Downs,...,Roxbury,13,14,1401,192 Magnolia St,2121,42.311990,-71.073181,0101000020E610000065AD9DFDAEC451C0051BFB45EF27...,Constituent Call
1,101002767875,2019-01-01 00:17:00,NaT,2019-11-24 08:48:34,ONTIME,Closed,Fire Hydrant,Boston Water & Sewer Commission,Fire Hydrant,Fire Hydrant,...,Back Bay,14,5,505,INTERSECTION Beaver St & Beacon St,<NA>,42.355555,-71.072049,0101000020E61000001A659F739CC451C0516121D7822D...,Constituent Call
2,101002767877,2019-01-01 00:31:51,2019-01-03 03:30:00,2019-01-01 21:27:40,ONTIME,Closed,Parking Enforcement,Transportation - Traffic Division,Enforcement & Abandoned Vehicles,Parking Enforcement,...,Boston,3,3,<NA>,35 Fruit St,2114,42.362755,-71.069185,0101000020E61000009E8A6A866DC451C0F2243BBF6E2E...,Citizens Connect App
3,101002767878,2019-01-01 00:42:00,NaT,2019-05-17 08:33:13,ONTIME,Closed,Police: Full Notifications,Mayor's 24 Hour Hotline,Notification,Notification,...,Dorchester,8,15,1503,35-37 Clarkson St,2125,42.308930,-71.066961,0101000020E61000007301041549C451C010DDC5008B27...,Constituent Call
4,101002767879,2019-01-01 01:09:12,2019-01-03 03:30:00,2019-01-01 21:28:11,ONTIME,Closed,Parking Enforcement,Transportation - Traffic Division,Enforcement & Abandoned Vehicles,Parking Enforcement,...,East Boston,1,1,109,196 Trenton St,2128,42.380799,-71.031970,0101000020E6100000DAA350CD0BC251C0A6639A09BE30...,Citizens Connect App

In [ ]:
merged_311.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1488697 entries, 0 to 1488696
Data columns (total 26 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   case_enquiry_id                 1488697 non-null  int64
 1   open_dt                         1488697 non-null  datetime64[ns]
 2   sla_target_dt                   1260035 non-null  datetime64[ns]
 3   closed_dt                       1353862 non-null  datetime64[ns]
 4   on_time                         1488696 non-null  object
 5   case_status                     1488697 non-null  object
 6   case_title                      1488598 non-null  object
 7   subject                         1488697 non-null  object
 8   reason                          1488697 non-null  object
 9   type                            1488697 non-null  object
 10  department                      1488697 non-null  object
 11  location                        1488697 non-null  object
 12  fire_district                   1468910 non-null  Int64
 13  pwd_district                    1488136 non-null  object
 14  city_council_district           1472479 non-null  Int64
 15  police_district                 1488185 non-null  object
 16  neighborhood                    1487359 non-null  object
 17  neighborhood_services_district  1472475 non-null  Int64
 18  ward                            1472575 non-null  Int64
 19  precinct                        1465295 non-null  Int64
 20  location_street_name            1472580 non-null  object
 21  location_zipcode                1168218 non-null  Int64
 22  latitude                        1477356 non-null  float64
 23  longitude                       1477356 non-null  float64
 24  geom_4326                       1477356 non-null  object
 25  source                          1488697 non-null  object
dtypes: Int64(6), datetime64[ns](3), float64(2), int64(1), object(14)
memory usage: 303.8+ MB

In [ ]:
# Save the updated DataFrame to a new CSV file
merged_311.to_csv('updated_merged_311.csv', index=False)